<div class="jumbotron">
  <h2><%= gettext "Welcome to the Lore_Hive!" %></h2>
  <p class="lead">Get in here and start writing some stories!</p>
  <div class="postLink">
    <%= link "Let\'s Go!", to: post_path(@conn, :index) %> 
  </div>
</div>
